/* MEDIA QUERIES FOR 768PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (min-width:768px) {}

@media all and (min-width:992px) {
  .form-title {
    font-size: 3.175rem;

  }

  .login-text {
    font-size: 1rem;
  }

  .btn-submit {
    font-size: 1.089rem;
  }

  input::placeholder {
    font-size: 0.75rem;
  }

  .reset-text {
    font-size: 1rem;
  }

  .sign-up,
  .alt {
    font-size: 1.125rem;
  }


  .iconify {
    color: var(--blue-color);
    font-size: 1.5rem;
  }


  .copy-text {
    font-size: 0.75rem;
  }

}

@media all and (min-width:1200px) {}